.blog-wrapper {
  list-style-type: none;
}

.blog-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.blog-item {
  width: 45%;
  border: 2px solid rgb(71, 132, 151);
  box-shadow: 0px 0px 10px 5px;
  margin-bottom: 20px;
  padding: 20px;
  transition: transform 0.9s ease, box-shadow 0.9s ease;
}

.blog-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 15px 20px rgb(81, 122, 119);
}

.blog-link {
  text-decoration: none;
}

.blog-title {
  color: #292929;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 600;
}

.blog-text {
  font-size: 15px;
  margin: 0;
  margin-top: 25px;
}

.blog-loader {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  height: 500px;
}