.post-loader {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  height: 500px;
}

.post-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  flex-grow: 1;
}

.post-box {
  padding: 20px;
  width: 70%;
  border: 1px solid #000;
  margin-top: 50px;
  margin-bottom: 50px;
}

.post-title {
  font-size: 27px;
  text-transform: uppercase;
}

.post-text {
  font-size: 20px;
}